.slider {
  position: relative;
  top: -50px;
}

.slider__title {
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.17px;
  font-family: $Gilroy;
  color: #000;
  margin-bottom: 40px;
  line-height: 55px;
}

.slider__desc {
  font-size: 15px;
  font-family: $OpenSans;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #464646;
  margin-bottom: 60px;
}

.slider__btn {
  margin-bottom: 70px;
}

.button {
  display: inline-block;
  position: relative;
  font-family: $Gilroy;
  color: #000;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 2.15px;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  z-index: 1;
  padding: 10px 30px;


  &::before {
    position: absolute;
    content: '';
    background: #f0c52e;
    top: 21px;
    left: 0px;
    width: 100%;
    height: 8px;
    z-index: -1;
  }

  &:hover::before {
    transform: scaleY(5);
    transition: 0.3s;
  }

  &:active {
    color: rgba(#000, 0.3);
  }
}

.slide__right {
  margin-top: -8px;
}

.slider-table__desc {
  font-size: 13px;
  font-family: $OpenSans;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.13px;
}

.slider > input[type="radio"] {
  position: absolute;
  display: none;
}

.slide {
  min-height: 485px;
  display: none;
}

#btn-1:checked ~ .slider__controls label[for="btn-1"]::before,
#btn-2:checked ~ .slider__controls label[for="btn-2"]::before,
#btn-3:checked ~ .slider__controls label[for="btn-3"]::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  border: 1px solid #000000;
  border-radius: 50%;
}
#btn-1:checked ~ #slide-1 {
  display: block;
}
#btn-2:checked ~ #slide-2 {
  display: block;
}
#btn-3:checked ~ #slide-3 {
  display: block;
}

.slider__controls {
  position: absolute;
  bottom: 114px;
  right: 13px;
  height: 100px;
  width: 140px;
}

.slider__controls label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 12px;
  height: 12px;
  margin-right: 18px;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

th {
  font-size: 36px;
  font-weight: 300;
  font-family: $Gilroy;
  color: #000;
  padding-right: 80px;
}

td {
  font-size: 13px;
  font-weight: 300;
  font-family: $OpenSans;
  color: #464646;
  padding-right: 80px;
}

.slide__left {
  position: relative;
  width: 50%;
}

.slider__img {
  position: absolute;
  top: 5px;
  left: 10px;
}


















